/*set a background image*/
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_5UA7vOGzxDF7HMFfdCeX2y4x26RdfiUMXzDH6Kle6g&usqp=CAU&ec=48600112);
}

/*changed font size and color*/
body, h3, p {
    font-size: 30px;
    color: red;
}

/*changed the image size*/
.boxing {
    height: 350px;
}