/*set a background image*/
body {
    background-image: url(Images/boxing.jpg);
}

/*changed font size and color*/
body, h3, p {
    background-color: black;
    font-size: 30px;
    color: white;
}

/*changed the image size*/
.boxing {
    height: 350px;
}