/* Centered and scaled the image to fit nicely */
body {
    background-image: url(Images/ufc\ stadium.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*changed font size and color*/
table, h3, p {
    font-size: 25px;
    color: white;
    border-style: solid;
    border-color: black;
    background-color: black;
}

/*changed the link color*/
.youtube {
    font-size: 25px;
    color: red;
}

/*changed text to white to make it more visible*/
table, tr, th, td {
    color: white;
}